<h1>Login</h1>
<div>
    {{>form}}
    <div>
        <a href="/auth/facebook/login">Login with Facebook</a>
    </div>
    <div>
        <a href="/auth/google/login">Login with Google</a>
    </div>
    <div>
        <a href="register">Click here to Register</a>
    </div>
</div>